@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
  --main-font-family: 'Poiret One', sans-serif;
  --linear-gradient: linear-gradient(45deg, pink, purple, blue);
}

.navbar {
  display: flex;
  flex-direction: row;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 20px;
  color: pink;
  font-family: var(--main-font-family);
}
