@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
  --main-font-family: 'Poiret One', sans-serif;
  --linear-gradient: linear-gradient(45deg, pink, purple, blue);
}
.poiret-one-regular {
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #ec9a00;
  /* border-bottom: 25px solid #0b0b0b; */
}

.section {
  background-color: #f4b0e8;
  margin: 0;
  width: 100vw;
  height: 80vh;
  font-family: var(--main-font-family);
}

/* .container {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
} */

/* *************** */
/* -----colors---------- */
.text-gradient {
  background: -webkit-linear-gradient(
    50.1deg,
    rgba(2, 2, 124),
    #ae67fa,
    #f49867
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* contact page  */
.contact-me-container {
  display: flex;
  height: 100vh;
}
.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font-family);
  height: 100vh;
  width: 925px;
  margin: auto;
}

form {
  width: 370px;
  display: block;
  margin: auto;
  border-radius: 15px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid pink;
}
