@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
  --main-font-family: 'Poiret One', sans-serif;
  --linear-gradient: linear-gradient(45deg, pink, purple, blue);
}
.poiret-one-regular {
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #ec9a00;
  /* border-bottom: 25px solid #0b0b0b; */
}
.header {
  background-color: #ec9a00;
  margin: 0;
  width: 100vw;
  height: 100px;
}
.section {
  background-color: #f4b0e8;
  margin: 0;
  width: 100vw;
  height: 80vh;
  font-family: var(--main-font-family);
}

.container {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

/* *************** */
/* -----colors---------- */
h1,
h2,
h3,
h4,
p,
li {
  background: -webkit-linear-gradient(
    50.1deg,
    rgba(2, 2, 124),
    #ae67fa,
    #f49867
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-background {
  background: linear-gradient(
    45deg,
    #020782,
    #4d0278,
    black,
    #250482,
    #4a0970,
    black,
    #290b95,
    hsl(0, 0%, 5%)
  );
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  -o-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}
/* FOOTER------------------------ */
/* .footer {
  background-color: #050505;
  margin: 0;
  width: 100vw;
  color: aliceblue;
} */
/* .footer {
  background-color: black;
  height: 10vh;
  width: 100vw;
  margin: 0;
  color: white;
} */
.footer-box {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.footer {
  color: white;
  margin: auto;
  text-align: center;
  width: 100vw;
  background-color: black;
  font-family: var(--main-font-family);
  font-size: 20px;
}
